{% load i18n %}

{% block subject %}
{% blocktrans %}The Gem - Your account has been successfully created and activated!{% endblocktrans %}
{% endblock %}

{% block text_body %}
{% trans "Your account has been created and is ready to use!" %}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The Gem team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% trans "Your account has been created and is ready to use!" %}</p>
<p>You can now proceed to<a href="https://school-management-system-ui.vercel.app/login">Login</a></p>

<p>{% trans "Thanks for using our site!" %}</p>

<p>The Gem Team</p>
{% endblock html_body %}
