{% load i18n %}

{% block subject %}
{% blocktrans %}Password Reset{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at The Gem International School.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{{ protocol }}://school-management-system-ui.vercel.app/{{ url|safe }}
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}</p>

<p>{% trans "Please go to the following page and choose a new password:" %}</p>
<p><a href="{{ protocol }}://school-management-system-ui.vercel.app/{{ url|safe }}"><b>Click Here to Change your Account Password</b></a></p>
<p>{% trans "Your username, in case you've forgotten:" %} <b>{{ user.get_username }}</b></p>

<p>{% trans "Thanks for using our site!" %}</p>

<p>{% blocktrans %}The Gem team{% endblocktrans %}</p>
{% endblock html_body %}
