{% load i18n %}

{% block subject %}
{% blocktrans %}The Gem - Your password has been successfully changed!{% endblocktrans %}
{% endblock %}

{% block text_body %}
{% trans "Your password has been changed!" %}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The Gem team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% trans "Your password has been changed!" %}</p>
<p>You can <a href="https://school-management-system-ui.vercel.app/login">click here</a> to login with the new password</p>

<p>{% trans "Thanks for using our site!" %}</p>

<p>The Gem Team</p>
{% endblock html_body %}
