/* src/components/LoginForm.css */
.login-form {
  max-width: 400px;
  margin: auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 50px;
  background-color: white;
  background-size: cover; 
  display: flex;
  justify-content: center;
  
  
}
input {
  border: none;
  outline: none;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
body {
  background-image: url('login.jpg'); 
}

